    <div class="col pb-3">
      <div class="card">
        <img src="<%= raider.image %>" class="card-img-top" alt="...">
        <div class="card-body border">
          <h5 class="card-title">Raider name: <%= raider.serial %></h5>
          <p class="card-text">Potentially change to a card list with Raider statistics.</p>
        </div>
      </div>
    </div>