<div class="pb-2">
        <div class="card">
          <div class="card-body mt-0 mb-1">
            <%= proposal.body %>
          </div>
          <% if %>
          <div class="ml-3 pb-2">
            <a href="#" class="btn btn-outline-success">Vote "yay"</a>
            <a href="#" class="btn btn-outline-danger">Vote "nay"</a>
            <a href="#" class="btn btn-outline-secondary">Abstain</a>
          </div>
        </div>
      </div>