<% vote = proposal.votes.where(:voter_id => current_user.id)%>

<div class="container-fluid pb-3">
  <div class="card">
    <div class="card-body">
      <%= proposal.body %>
    </div>
    <div class="ml-3 pb-2">
      You voted "<%= vote.value %>" on this proposal.
    </div>
  </div>
</div>