<div class="col pb-3">
  <div class="card">
    <div class="card-body border">
      <h5 class="card-title"><%= Material.where(:id => warchest.material_id).first.name %>:  <%= warchest.quantity %></h5>
      <p class="card-text">Placeholder text. Look to add material description and potentially image from CR API later on.</p>
    </div>
  </div>
</div>