<div class="container-fluid pb-3">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/guild"><%= @guild.name %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/bulletin">Bulletin board</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/proposals">Proposals</a>
    </li>
  </ul>
</div>

<h1>Bulletin board</h1>

<ul>
  <% @matching_proposals.each do |proposal|%>
    <li><%= proposal %></li>
  <%end %>
</ul>