<div class="container-fluid pb-3">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/guild"><%= @guild.name %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/bulletin">Bulletin board</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/proposals">Proposals</a>
    </li>
  </ul>
</div>

<h3 class="pb-2 pt-2 text-center"><%= @guild.name %> bulletin board</h3>
<a href="bulletins/new">
  <button type="button" class="btn btn-light" href="bulletins/new">Create a bulletin</button>
</a>
<div class="container-fluid pb-3">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @guild.bulletins.each do |bulletin|%>
      <div class="container-fluid pb-2">
        <%= render "bulletins/bulletin", bulletin: bulletin %>
      </div>
    <%end %>
  </div>
</div>

