<div class="container-fluid pb-3">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/guild"><%= @guild.name %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="...">Bulletin board</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="...">Proposals</a>
    </li>
  </ul>
</div>
