<div class="container-fluid pb-3">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/guild"><%= @guild.name %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bulletin">Bulletin board</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/proposals">Proposals</a>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <h1>members</h1>
</div>

<div class="container-fluid pb-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <% @guild.members.each do |member| %>
    <%= render "guilds/member", member: member %>
  <% end %>
  </div>
</div>


<div class="container-fluid">
  <h1>stashes</h1>
</div>

<div class="container-fluid pb-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <% @guild.stashes.each do |member| %>
    <%= render "guilds/member", member: member %>
  <% end %>
  </div>
</div>