

<div class="container-fluid pb-3">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/home">Raiders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/stash">Stash</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/inbox">Inbox</a>
    </li>
  </ul>
</div>

<%= current_user.username %>'s Inbox!