<div class="container-fluid pb-3">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home">Raiders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/stash">Stash</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/inbox">Inbox</a>
    </li>
  </ul>
</div>


<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <% current_user.raiders.each do |raider| %>
    <%= render "raiders/raider", raider: raider %>
  <% end %>
  </div>
</div>